<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @article.nom %>
</p>

<p>
  <b>Commentaire:</b>
  <%= @article.commentaire %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
