<h1>Listing departements</h1>

<table>
  <tr>
    <th>Region</th>
    <th>Nom</th>
    <th>Code</th>
    <th>Nc</th>
    <th>Code region</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @departements.each do |departement| %>
  <tr>
    <td><%= departement.region_id %></td>
    <td><%= departement.nom %></td>
    <td><%= departement.code %></td>
    <td><%= departement.nc %></td>
    <td><%= link_to 'Show', departement %></td>
    <td><%= link_to 'Edit', edit_departement_path(departement) %></td>
    <td><%= link_to 'Destroy', departement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Departement', new_departement_path %>
